tqdm
PyYAML
numpy
pandas
matplotlib
seaborn
mlflow
pillow
scikit_learn
torch
captum
evaluate
basicsr
facexlib
realesrgan
opencv_python
cmake
dlib
einops
transformers
gfpgan
# streamlit
mediapipe
imutils
scipy
torchvision==0.16.0
torchcam
pytorch-lightning